.movies-card__picture-block {
    width: 30%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #535151;
    border-radius: 10px 0px 0px 10px;
    
}


@media (max-width: 768px) {
    .movies-card__picture-block {
        width: 100%;
        padding-top: 15px;
    }
}