.movies-card__button {
    /* width: 10%; */
    background-color: rgb(238, 200, 0, 0);
    border: none;
    /* padding-right: 14px; */
    padding: 0 0 0 0;
    font-size: 16px;
    font-weight: 600;
    flex-basis: 10%;
    color: rgb(240, 227, 227);
    border-radius: 5px 5px 5px 5px;
}

.movies-card__button:active {
    opacity: 60%;
    font-weight: 400;
    color: rgb(240, 227, 227);


}