.movies-card__button_type_long {
    width: 30%;
    height: 40px;
    background-color: rgba(60, 235, 139, 100);
    border: none;
    padding-right: 14px;

    color: #534b4b;

    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 768px) {
    .movies-card__button_type_long {
        width: 90%;

        display: flex;
        flex-direction: column;

        align-items: normal;
        justify-content: center;
        
        margin-top: 20px;
    }
}