.movies-card__button-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 100%;

    padding: 15px 15px 15px 15px;
    align-items: center;
}

@media (max-width: 768px) {
    .movies-card__button-block {
        width: 90%;
        height: 100%;

        display: flex;
        flex-direction: column;
    }
}