.nav-tab__buttons {
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    padding-bottom: 30px;
    justify-content: center;
}

@media all and (max-width: 768px) {
    .nav-tab__buttons {

        padding-top: calc(100*100%/768);

    }
}

@media all and (max-width: 320px) {
    .nav-tab__buttons {

        padding-top: calc(150*100%/320);

    }
}