.movies-card__items {
    width: 70%;
    background-color: #535151;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0px 10px 10px 0px;
}


@media (max-width: 768px) {
    .movies-card__items {
        width: 100%;
    }
}