@import url('./__button/movies-card__button.css');
@import url('./__button/movies-card__button_type_long.css');
@import url('./__description/movies-card__description.css');
@import url('./__duration/movies-card__duration.css');
@import url('./__image/movies-card__image.css');
@import url('./__items/movies-card__items.css');
@import url('./__title/movies-card__title.css');
@import url('./__icon/movies-card__icon.css');
@import url('./__picture-block/movies-card__picture-block.css');
@import url('./__text/movies-card__text.css');
@import url('./__text/movies-card__text_type_image.css');
@import url('./__button-block/movies-card__button-block.css');
@import url('./__price/movies-card__price.css');




.movies-card {
    width: 100%;
    /* height: 200px; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .movies-card {
        width: 90%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media (max-width: 420px) {
    .movies-card {
        width: 90%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}


